*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    scroll-behavior: smooth;
}

@keyframes appear {
    from {
        width: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

html, body{
    min-height: 100vh;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.img-long {
    
    object-fit: cover;
    object-position: 0 100%;
    width: 100%;
    height: 50vw;
}

a {
    text-decoration: none;
    color:#91FFFF;
}

nav {
    height: 50px;
    background-color: #191919;
}

.nav-img{
    width: 50px;
    height: 50px;
}

.nav-img:hover{
    transition: all 1s ease;
    transform: rotate(360deg);
}

.nav-p{
    margin-left: 1%;
    font-size:x-large;
    color: #91FFFF;
    font-weight: 500;
}

.nav-head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-body ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav-body li{
    font-size: small;
    color: #91FFFF;
    font-weight: 500;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    transition: all 500ms ease;
}

.nav-body .nav-item:hover{
    text-align: center;
    transition: all 500ms ease;
    transform: scale(1.5);
}

.img-high{
    position: absolute;
    width: 500px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1{
    
    letter-spacing: 0.2em;
    padding: 25px;
    border: solid #191919 10px;
    max-width: 50vw;
}

.wrapper {
    min-height: 95vh;
    background-image: url("../image/IMG_20220509_094039_219.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
  
.first-text {
    margin-top: -10vw;
    width: 25ch;
    animation: appear 2s,steps(25);
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5em;
}

.second-text {
    opacity: 0;
    width: 41ch;
    animation: appear 2s forwards,steps(41);
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
}
  
.active-link{
    padding: 5px;
    text-decoration: none;
    color: inherit;
    background-color: #91FFFF;
    border-radius: 5px;
    color: #191919;
}

.chest{
    min-height: 100%;
}

footer{
    margin-top: auto;
    height: 150px;
    width: 100%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio{
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.fr, .en{
    opacity: 0;
    margin: 2.5vw;
    padding: 25px;
    padding-top: 30px;
    border: solid #191919 5px;
    max-width: 25vw;
    animation: fadein 4s forwards;
    animation-delay: 1s;
}

.fr .logo{
    margin-top: -35px;
    margin-left: -30px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../image/france.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid #191919 5px;
}

.en .logo{
    margin-top: -35px;
    margin-left: -30px;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url("../image/united-kingdom.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid #191919 5px;
}

.back-to-top{
    margin-top: -40px;
    padding-top: 70px;
    color: white;
    color: #91FFFF;
    background-image: url("../image/up-arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: fit-content;
}


