*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

@keyframes appear {
    from {
        width: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    background-color: white;
}

.img-long {
    
    object-fit: cover;
    object-position: 0 100%;
    width: 100%;
    height: 50vw;
}

a {
    text-decoration: none;
    color: #91FFFF;
}

nav {
    height: 100px;
    background-color: #191919;
}

.nav-img{
    width: 50px;
    height: 50px;
}

.nav-p{
    margin-left: 1%;
    font-size:x-large;
    color: #91FFFF;
    font-weight: 500;
}

.nav-head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-body ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav-body li{
    font-size: small;
    color: #91FFFF;
    font-weight: 500;
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 5%;
    transition: all 500ms ease;
}

.nav-body li:hover{
    transition: all 500ms ease;
    transform: scale(1.5);
}

.nav-body li:un{
    transform: scale(1.5);
}

.img-high{
    position: absolute;
    width: 500px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1{
    
    letter-spacing: 0.2em;
    padding: 25px;
    border: solid #191919 10px;
    max-width: 50vw;
}

.wrapper {
    height: 100vh;
    background-image: url("../image/IMG_20220509_094039_219.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    
}
  
.first-text {
    margin-top: 100px;
    width: 25ch;
    animation: appear 2s,steps(25);
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5em;
}

.second-text {
    opacity: 0;
    margin-top: -550px;
    width: 27ch;
    animation: appear 2s forwards,steps(27);
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
}
  


